<div style="color: white;padding-top:0px;text-align:center;background-color:#257662;border-radius:15px;border: 1px solid white;"> 
    <h3>Exercise 1 (score:350)</h3>
</div>

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 01 (Basic)(50):</h4>
</div>

In [7]:
##Convert to Int

#it will run ok 
num1 = 12.45
#this part give us error that relate 'ValueError' 
num2 = "12.45"
#this code will be run ok and give output 1
flag1 = True
#this cide will give us a error name 'valueError' 
code = "a123"
#its will run ok
num3 = "0123"

num1 = int(num1)
print(num1)
num2 = int(num2)
print(num2)
flag1 = int(flag1)
print(flag1)
code = int(code)
print(code)
num3 = int(num3)
print(num3)

12
123

In [13]:
##Convert Float


#it will run ok and output is 10.0
num4 = 10
# it will run ok and output is 4.0
num5 = 4.
#it will run ok and output is 4.7
num6 = "4.7"
#it will be run ok and output is 51.0
num7 = "51"
#we have'ValueError' in ths convert
name = "python"

num4 = float(num4)
print(num4)
num5 = float(num5)
print(num5)
num6 = float(num6)
print(num6)
num7 = float(num7)
print(num7)
name = float(name)
print(name)

4.0
4.7
51.0

ValueError: could not convert string to float: 'python'

In [19]:
##Convert  Bool
#it will run ok 
flag3 = False
#it will run ok 
flag4 = "False"
#it will run ok 
name1 = ""
#IT will run ok
name2 = " "
#it will run ok 
num8 = 0

flag3 = bool(flag3)
print(flag3)
flag4 = bool(flag4)
print(flag4)
name1 = bool(name1)
print(name1)
name2 = bool(name2)
print(name2)
num8 = bool(num8)
print(num8)

False
True
False
True
False

In [23]:
# it will run ok
flag = False
#it will run ok 
num = 0.000

flag = str(flag)
print(flag)
num = str(num)
print(num)

False
0.0

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 02 (Basic)(50)</h4>
</div>

In [32]:
x = "300"
y = int(x)
z = y + 200
a = float(z)
#b = a + x
#c = int(b) + 100



#in this code we have a error "TypeError" in b variable
# and becuase of b error c will not run

h = float(x)
b = a + h
c = int(b) + 100
print(b,"\n",c)

800.0
 900

In [34]:
x = "250"
y = int(x)
z = y // 3
a = str(z)
b = a + x
c = int(b) // 2

print(x,"\n",y,"\n",z,"\n",a,"\n",b,"\n",c)

# its will run ok

250
 250
 83
 83
 83250
 41625

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 03 (Basic)(50)</h4>
</div>

In [45]:
x = input("give us a word: ")
x == "yes" or x == "no"

True

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 04 (Basic)(50)</h4>
</div>

In [51]:
x = input("give us a input: ")
x != ""

True

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 05 (Basic)(50)</h4>
</div>

In [56]:
Celsius = input("Give Temperature in Celsius: ")
Fahrenheit = (9/5) *int(Celsius) + 32
print("Temperature To Fahrenheit: ",Fahrenheit)

Temperature To Fahrenheit:  91.4

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 06 (Basic)(50)</h4>
</div>

In [59]:
'''this code has a problem that in variable num4 and 5 
we have 3 input but in num 6,7 and 8 we have 2 input 
and for do it write we should give 2 input for num 4 and 5
and 3 input for num 6,7,8 '''
num1,num2,num3 = 17,1.8,28
num4,num5 = 45,12,19
num6,num7,num8 = 200,30
name,score,passed = "sara",19,True
var1 = var2 = var3 = 500
num1 = 20
num2 = 30
num1,num2 = num2 ,num1 
print(num1,num2)

30 20

In [1]:
# fixed code 
num1,num2,num3 = 17,1.8,28
num4,num5 = 45,12
num6,num7,num8 = 200,300,400
name,score,passed = "sara",19,True
var1 = var2 = var3 = 500
num1 = 20
num2 = 30
num1,num2 = num2 ,num1 
print(num1,num2)

30 20

<div style="color: white;padding-top:18px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 05 (String)(80)</h4>
<p> Write a program that prompts the user to enter a password. The program
should validate the password based on the following criteria</p>

</div>

The length of the password must be exactly 8 characters.
The first four characters of the password must be letters (alphabets).
The last four characters of the password must be digits (numbers).
If the password meets all the above criteria, the program should display "Valid".
Otherwise, it should display "Invalid".

In [21]:
# write code here: 

password = input("Enter Your Password: ")

len_pass = len(password)

middle = len_pass//2

part1 = password[:middle]

part2 = password[middle:]

print("len :",len_pass,"\npart1:",part1,"\npart2:",part2)

if len_pass == 8 and part1.isalpha() and part2.isdigit():
    
    print("Valid")
    
else:
    
    print("Invalid")

Enter Your Password:  mmmm1234

len : 8
part1: mmmm
part2: 1234
Valid

<div style="color: white;padding-top:0px;text-align:center;background-color:#257662;border-radius:15px;border: 1px solid white;"> 
    <h3>Exercise 2 (score:200)</h3>
</div>

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 01 (Condition)(50)</h4>
</div>

In [6]:
letter = input("Give us a letter: ")
if letter == 'a' or letter == 'A':
    print("Vowel")
elif letter == 'e' or letter == 'E':
    print('Vowel')
elif letter == 'i' or letter == 'I':
    print('Vowel')
elif letter == 'o' or letter == 'O':
    print('Vowel')
elif letter == 'u' or letter == 'U':
    print('Vowel')
else:
    print("Consonant")

Vowel

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 02 (Condition)(50)</h4>
</div>

In [12]:
number = input("Give us a Number: ")
if 10 <= int(number) <=20 :
    print("In Range")
else:
    print("Out Of Range")

In Range

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 03 (Condition)(50)</h4>
</div>

In [15]:
num1 = input("Give first Number: ")
num2 = input("Give Second Number: ")
sum = int(num1) + int(num2)
if int(sum) > 20:
    print("Greater")
else:
    print("Not Greater")

Greater

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 04 (Condition)(50)</h4>
</div>

In [19]:
color1 = input("Give First color: ")
color2 = input("Give Second color: ")
color3 = input("Give Third color: ")
if color1 == color2 == color3 :
    print("All Colors Match")
elif (color1 == color2) or (color1 == color3) or (color2 == color3):
    print("Two Colors Match")
else:
    print("No Colors Match")

No Colors Match

<h2 style="color: blue:; background-color: purple">Good luck</h2>